.slidecontainer{
  font-family: "Foco","Arial",sans-serif;
  font-weight: bold;
  font-size: 15px;
  position: relative;
}

.slider1{
  -webkit-appearance: none;
  height: 2px;
  width: 300px;
}

.slider1::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 300px;
  height: 3px;
  background: #ddd;
  border: none;
  border-radius: 3px;
  
}

/*
.slider1::-webkit-slider-track{
  -webkit-appearance: none;
  width: 300px;
  height: 3px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}*/

.slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  overflow: visible;
  cursor: pointer;
  border: 1px solid #0075b0;
  position: absolute;
  bottom: 8px;
  position: relative;

}

/*.slider1:focus::-webkit-slider-fill-lower {
  -webkit-appearance: none;
  background: red;
  border-radius: 10px;
}

.slider1:focus::-webkit-slider-fill-upper {
  -webkit-appearance: none;
  background: blue;
  border-radius: 10px;
}
*/

datalist {  
  width: 300px;
	position: relative;
	display: flex;
	justify-content: space-between;
	height: auto;
  margin-top: 30px;
}

datalist option {
	width: 15px;
	min-height: 10px;
	border-radius: 100px;
  padding:0;
  text-align: center;
  font-weight: bold;
}

.op4,
.op5,
.op6,
.op7{
  color: rgb(19, 138, 62);
}


